@import "variables";
@import "bootstrap";
@import "bootstrap/theme";

header {
	background: $brand-primary;
	color: white;
	margin-bottom: 30px;

	h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 20px 0 20px;
	}
}

.feedItems a {
    color: $text-color;
}

.feedItems a:hover {
    color: $brand-primary;
}


.feedSelect select {
    margin: 15px 0 15px 0;
}

.list-group-item img {
	height: 100px;
}
