@import "variables";
@import "bootstrap";
@import "bootstrap/theme";

body {
    padding-top: 60px;
    background: $gray-lighter;
}

.feedSelect select {
    margin: 15px 0 15px 0;
}

.list-group-item img {
	height: 100px;
}
